<div class="pagination">
    <span class="step-links">
        {% if page.has_previous%}
            <a class = "btn btn-dark btn-sm mb-10px" href="?page={{page.previous_page_number}}"> <<< </a>
        {% endif %}
        <span class="current btn-group-lg text-lg-right">
            {{page.number}} --- {{page.paginator.num_pages}}
        </span>
        {% if page.has_next %}
            <a class = "btn btn-dark btn-sm mb-10px" href="?page={{page.next_page_number}}"> >>> </a>
        {% endif %}
    </span>
</div>