{% extends 'base.html'%}
{% load static %}
{% block title %} Daxil ol-AzePUG {% endblock %}
{% block body %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Xoş gəldin
                </legend>
                {{form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type = 'submit'>
                    Daxil ol
                </button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Buralı deyilsiz?
                    <a href="/register" class="ml-2"> Qeydiyyatdan keçin</a>
                </small>
            </div>
        </form>

    </div>

{% endblock %}